@keyframes rotateLoader {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

#root:empty::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  left: calc(50vw - 50px);
  top: calc(50vh - 50px);
  border-radius: 50%;
  border: 10px solid teal;
  border-left: 10px solid gold;
  animation: 1s rotateLoader linear infinite;
}